USE [master]
GO
/****** Object:  Database [Powerbase]    Script Date: 13-07-2026 5.55.07 PM ******/
CREATE DATABASE [Powerbase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Powerbase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Powerbase.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Powerbase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Powerbase_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Powerbase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Powerbase]
GO
/****** Object:  Schema [audit]    Script Date: 13-07-2026 5.55.08 PM ******/
CREATE SCHEMA [audit]
GO
/****** Object:  Schema [core]    Script Date: 13-07-2026 5.55.08 PM ******/
CREATE SCHEMA [core]
GO
/****** Object:  Schema [meta]    Script Date: 13-07-2026 5.55.08 PM ******/
CREATE SCHEMA [meta]
GO
/****** Object:  Table [audit].[InviteToken]    Script Date: 13-07-2026 5.55.08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [audit].[InviteToken](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[TenantId] [bigint] NULL,
	[TenantRoleId] [bigint] NULL,
	[TokenHash] [nvarchar](256) NOT NULL,
	[InvitedBy] [bigint] NOT NULL,
	[ExpiresOn] [datetime2](3) NOT NULL,
	[UsedOn] [datetime2](3) NULL,
	[CreatedOn] [datetime2](3) NOT NULL,
	[AppId] [bigint] NULL,
	[AppRoleId] [bigint] NULL,
 CONSTRAINT [PK_InviteToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [audit].[LoginAttempt]    Script Date: 13-07-2026 5.55.08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [audit].[LoginAttempt](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmailAttempted] [nvarchar](256) NOT NULL,
	[UserId] [bigint] NULL,
	[IpAddress] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[WasSuccessful] [bit] NOT NULL,
	[FailureReason] [nvarchar](200) NULL,
	[AttemptedOn] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_LoginAttempt] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [audit].[PasswordReset]    Script Date: 13-07-2026 5.55.08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [audit].[PasswordReset](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[TokenHash] [nvarchar](256) NOT NULL,
	[IpAddressRequested] [nvarchar](50) NULL,
	[UsedFromIp] [nvarchar](50) NULL,
	[ExpiresOn] [datetime2](3) NOT NULL,
	[UsedOn] [datetime2](3) NULL,
	[RequestedOn] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_PasswordReset] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [audit].[UserSession]    Script Date: 13-07-2026 5.55.08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [audit].[UserSession](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[TenantId] [bigint] NULL,
	[JwtId] [uniqueidentifier] NOT NULL,
	[IpAddress] [varchar](45) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[IssuedOn] [datetime2](3) NOT NULL,
	[ExpiresOn] [datetime2](3) NOT NULL,
	[RevokedOn] [datetime2](3) NULL,
	[RevokedReason] [varchar](50) NULL,
 CONSTRAINT [pk_UserSession] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[FieldType]    Script Date: 13-07-2026 5.55.08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[FieldType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[SqlDataType] [nvarchar](100) NOT NULL,
	[SupportsDefault] [bit] NOT NULL,
	[SupportsRequired] [bit] NOT NULL,
	[SupportsUnique] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_FieldType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[SystemConfig]    Script Date: 13-07-2026 5.55.08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[SystemConfig](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsSecret] [bit] NOT NULL,
	[ModifiedOn] [datetime2](3) NOT NULL,
	[ModifiedBy] [bigint] NULL,
 CONSTRAINT [PK_SystemConfig] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [core].[SystemRole]    Script Date: 13-07-2026 5.55.08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[SystemRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_SystemRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[User]    Script Date: 13-07-2026 5.55.08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[User](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[EmailNormalized] [nvarchar](256) NOT NULL,
	[HashedPassword] [nvarchar](256) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastLoginOn] [datetime2](3) NULL,
	[CreatedOn] [datetime2](3) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedOn] [datetime2](3) NULL,
	[ModifiedBy] [bigint] NULL,
	[DeletedOn] [datetime2](3) NULL,
	[DeletedBy] [bigint] NULL,
	[RowVersion] [timestamp] NOT NULL,
	[SystemRoleId] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_migrations]    Script Date: 13-07-2026 5.55.08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_migrations](
	[ScriptName] [varchar](200) NOT NULL,
	[AppliedOn] [datetime2](3) NOT NULL,
 CONSTRAINT [PK__migrations] PRIMARY KEY CLUSTERED 
(
	[ScriptName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [meta].[Permission]    Script Date: 13-07-2026 5.55.08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [meta].[Permission](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[DisplayName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [meta].[RolePermission]    Script Date: 13-07-2026 5.55.08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [meta].[RolePermission](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenantRoleId] [bigint] NOT NULL,
	[PermissionId] [bigint] NOT NULL,
 CONSTRAINT [PK_RolePermission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [meta].[Tenant]    Script Date: 13-07-2026 5.55.08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [meta].[Tenant](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Slug] [nvarchar](100) NOT NULL,
	[PlanCode] [nvarchar](50) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedOn] [datetime2](3) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedOn] [datetime2](3) NULL,
	[ModifiedBy] [bigint] NULL,
	[DeletedOn] [datetime2](3) NULL,
	[DeletedBy] [bigint] NULL,
	[RowVersion] [timestamp] NOT NULL,
	[DatabaseName] [nvarchar](128) NULL,
	[ServerRef] [nvarchar](256) NULL,
	[ConnectionSecretRef] [nvarchar](256) NULL,
	[ProvisioningState] [nvarchar](32) NOT NULL,
	[SchemaVersion] [int] NULL,
 CONSTRAINT [PK_Tenant] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [meta].[TenantRole]    Script Date: 13-07-2026 5.55.08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [meta].[TenantRole](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
	[TenantId] [bigint] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsDefault] [bit] NOT NULL,
	[IsSystem] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedOn] [datetime2](3) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedOn] [datetime2](3) NULL,
	[ModifiedBy] [bigint] NULL,
	[DeletedOn] [datetime2](3) NULL,
	[DeletedBy] [bigint] NULL,
 CONSTRAINT [PK_TenantRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [meta].[TenantUser]    Script Date: 13-07-2026 5.55.08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [meta].[TenantUser](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenantId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[TenantRoleId] [bigint] NULL,
	[IsOwner] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[JoinedOn] [datetime2](3) NOT NULL,
	[InvitedBy] [bigint] NULL,
	[CreatedOn] [datetime2](3) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedOn] [datetime2](3) NULL,
	[ModifiedBy] [bigint] NULL,
	[DeletedOn] [datetime2](3) NULL,
	[DeletedBy] [bigint] NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_TenantUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [audit].[InviteToken] ON 

INSERT [audit].[InviteToken] ([Id], [UserId], [TenantId], [TenantRoleId], [TokenHash], [InvitedBy], [ExpiresOn], [UsedOn], [CreatedOn], [AppId], [AppRoleId]) VALUES (1, 4, 2, 4, N'9e8cca088596c0a923f2fbc265f3f07277a86f6fce8bff1343efa934a623c002', 2, CAST(N'2026-05-28T04:56:33.2670000' AS DateTime2), CAST(N'2026-05-21T04:58:29.0000000' AS DateTime2), CAST(N'2026-05-21T04:56:33.2640000' AS DateTime2), NULL, NULL)
INSERT [audit].[InviteToken] ([Id], [UserId], [TenantId], [TenantRoleId], [TokenHash], [InvitedBy], [ExpiresOn], [UsedOn], [CreatedOn], [AppId], [AppRoleId]) VALUES (2, 5, 2, 4, N'83638c49cdbcf5910122218d5fb841b8931f1457dacbf4815909c32d086b9ded', 2, CAST(N'2026-05-28T05:29:53.5000000' AS DateTime2), CAST(N'2026-05-21T05:30:55.6120000' AS DateTime2), CAST(N'2026-05-21T05:29:53.5130000' AS DateTime2), NULL, NULL)
INSERT [audit].[InviteToken] ([Id], [UserId], [TenantId], [TenantRoleId], [TokenHash], [InvitedBy], [ExpiresOn], [UsedOn], [CreatedOn], [AppId], [AppRoleId]) VALUES (3, 3, 2, 3, N'1077eb6fe4533e82d82d88320e8f5eed6d61471cc701fc9c7837955314094fdc', 2, CAST(N'2026-05-28T05:36:57.9770000' AS DateTime2), CAST(N'2026-05-21T05:37:46.0010000' AS DateTime2), CAST(N'2026-05-21T05:36:57.9800000' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [audit].[InviteToken] OFF
GO
SET IDENTITY_INSERT [audit].[LoginAttempt] ON 

INSERT [audit].[LoginAttempt] ([Id], [EmailAttempted], [UserId], [IpAddress], [UserAgent], [WasSuccessful], [FailureReason], [AttemptedOn]) VALUES (1, N'admin@mail.com', 2, N'::1', NULL, 1, NULL, CAST(N'2026-05-20T11:54:59.1090000' AS DateTime2))
INSERT [audit].[LoginAttempt] ([Id], [EmailAttempted], [UserId], [IpAddress], [UserAgent], [WasSuccessful], [FailureReason], [AttemptedOn]) VALUES (2, N'admin@mail.com', 2, N'::1', NULL, 1, NULL, CAST(N'2026-05-20T13:02:30.0120000' AS DateTime2))
INSERT [audit].[LoginAttempt] ([Id], [EmailAttempted], [UserId], [IpAddress], [UserAgent], [WasSuccessful], [FailureReason], [AttemptedOn]) VALUES (3, N'admin@mail.com', 2, N'::1', NULL, 1, NULL, CAST(N'2026-05-20T13:02:36.3300000' AS DateTime2))
GO
SET IDENTITY_INSERT [audit].[LoginAttempt] OFF
GO
SET IDENTITY_INSERT [audit].[UserSession] ON 

INSERT [audit].[UserSession] ([Id], [UserId], [TenantId], [JwtId], [IpAddress], [UserAgent], [IssuedOn], [ExpiresOn], [RevokedOn], [RevokedReason]) VALUES (1, 1, 1, N'd5bc9bdc-8cc5-45d3-87c9-dc19e1c63ab9', N'::1', NULL, CAST(N'2026-05-18T08:55:12.8420000' AS DateTime2), CAST(N'2026-05-19T08:55:12.8300000' AS DateTime2), NULL, NULL)
INSERT [audit].[UserSession] ([Id], [UserId], [TenantId], [JwtId], [IpAddress], [UserAgent], [IssuedOn], [ExpiresOn], [RevokedOn], [RevokedReason]) VALUES (2, 2, 2, N'5c9a9d6f-4b9d-4722-a983-defce1281c63', N'::1', NULL, CAST(N'2026-05-20T11:15:36.4790000' AS DateTime2), CAST(N'2026-05-21T11:15:36.4670000' AS DateTime2), NULL, NULL)
INSERT [audit].[UserSession] ([Id], [UserId], [TenantId], [JwtId], [IpAddress], [UserAgent], [IssuedOn], [ExpiresOn], [RevokedOn], [RevokedReason]) VALUES (3, 2, 2, N'bf5dea6f-016a-452f-b944-68dfad44ad49', N'::1', NULL, CAST(N'2026-05-20T11:54:59.3050000' AS DateTime2), CAST(N'2026-05-21T11:54:59.2930000' AS DateTime2), NULL, NULL)
GO
SET IDENTITY_INSERT [audit].[UserSession] OFF
GO
SET IDENTITY_INSERT [core].[FieldType] ON 

INSERT [core].[FieldType] ([Id], [Code], [DisplayName], [Category], [SqlDataType], [SupportsDefault], [SupportsRequired], [SupportsUnique], [DisplayOrder], [IsActive]) VALUES (1, N'Text', N'Text', N'Text', N'NVARCHAR(500)', 1, 1, 1, 1, 1)
INSERT [core].[FieldType] ([Id], [Code], [DisplayName], [Category], [SqlDataType], [SupportsDefault], [SupportsRequired], [SupportsUnique], [DisplayOrder], [IsActive]) VALUES (2, N'Number', N'Number', N'Numeric', N'DECIMAL(18,4)', 1, 1, 1, 2, 1)
INSERT [core].[FieldType] ([Id], [Code], [DisplayName], [Category], [SqlDataType], [SupportsDefault], [SupportsRequired], [SupportsUnique], [DisplayOrder], [IsActive]) VALUES (3, N'Date', N'Date', N'Date', N'DATE', 1, 1, 0, 3, 1)
SET IDENTITY_INSERT [core].[FieldType] OFF
GO
SET IDENTITY_INSERT [core].[SystemRole] ON 

INSERT [core].[SystemRole] ([Id], [Code], [DisplayName], [Description]) VALUES (1, N'SuperAdmin', N'Super Administrator', N'Full platform-level access. Assigned to internal Powerbase staff only.')
INSERT [core].[SystemRole] ([Id], [Code], [DisplayName], [Description]) VALUES (2, N'User', N'User', N'Standard platform user. Access governed by tenant roles.')
SET IDENTITY_INSERT [core].[SystemRole] OFF
GO
SET IDENTITY_INSERT [core].[User] ON 

INSERT [core].[User] ([Id], [PublicId], [Email], [EmailNormalized], [HashedPassword], [Name], [IsEmailVerified], [IsActive], [IsDeleted], [LastLoginOn], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [DeletedOn], [DeletedBy], [SystemRoleId]) VALUES (1, N'd39c58f6-9652-f111-ae77-38689390cafd', N'admin@example.com', N'ADMIN@EXAMPLE.COM', N'$2a$11$.VeSOLsASC6czqDqXbXPGeAnAdJw0RsUO1alL3/TuI1S4R8GJSSg2', N'Admin User', 0, 1, 0, NULL, CAST(N'2026-05-18T08:52:56.6760000' AS DateTime2), 0, NULL, NULL, NULL, NULL, NULL)
INSERT [core].[User] ([Id], [PublicId], [Email], [EmailNormalized], [HashedPassword], [Name], [IsEmailVerified], [IsActive], [IsDeleted], [LastLoginOn], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [DeletedOn], [DeletedBy], [SystemRoleId]) VALUES (2, N'36fb5633-3d54-f111-ae78-38689390cafd', N'admin@mail.com', N'ADMIN@MAIL.COM', N'$2a$11$Y1gKET9z2XVfZP5bOj20CeYThx9tQ7LPWLWZaEhQxwoMDWq7NznTG', N'Parth Sheth', 0, 1, 0, NULL, CAST(N'2026-05-20T11:15:26.6270000' AS DateTime2), 0, NULL, NULL, NULL, NULL, 1)
INSERT [core].[User] ([Id], [PublicId], [Email], [EmailNormalized], [HashedPassword], [Name], [IsEmailVerified], [IsActive], [IsDeleted], [LastLoginOn], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [DeletedOn], [DeletedBy], [SystemRoleId]) VALUES (3, N'bde80cff-4b54-f111-ae78-38689390cafd', N'parth.sheth@ashapurasoftech.com', N'PARTH.SHETH@ASHAPURASOFTECH.COM', N'$2a$11$Y/q3WCyrwwig9NiSWZuy4Ov/iquUKLoJ8FVpA179AkjIeQM8AURfq', N'Parth', 0, 1, 0, NULL, CAST(N'2026-05-20T13:01:21.3510000' AS DateTime2), 0, CAST(N'2026-05-21T05:37:45.9940000' AS DateTime2), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [core].[User] OFF
GO
INSERT [dbo].[_migrations] ([ScriptName], [AppliedOn]) VALUES (N'001_create_schemas.sql', CAST(N'2026-05-18T08:50:55.2700000' AS DateTime2))
INSERT [dbo].[_migrations] ([ScriptName], [AppliedOn]) VALUES (N'002_core_fieldtype.sql', CAST(N'2026-06-03T07:16:40.1760000' AS DateTime2))
INSERT [dbo].[_migrations] ([ScriptName], [AppliedOn]) VALUES (N'002_core_user_fieldtype_systemrole_systemconfig.sql', CAST(N'2026-05-18T08:50:55.3370000' AS DateTime2))
GO
SET IDENTITY_INSERT [meta].[Permission] ON 

INSERT [meta].[Permission] ([Id], [Code], [DisplayName], [Description]) VALUES (1, N'apps:create', N'Create Apps', N'Create new applications in the tenant')
INSERT [meta].[Permission] ([Id], [Code], [DisplayName], [Description]) VALUES (2, N'apps:read', N'View Apps', N'View application list and details')
INSERT [meta].[Permission] ([Id], [Code], [DisplayName], [Description]) VALUES (3, N'apps:update', N'Update Apps', N'Modify application settings')
SET IDENTITY_INSERT [meta].[Permission] OFF
GO
SET IDENTITY_INSERT [meta].[RolePermission] ON 

INSERT [meta].[RolePermission] ([Id], [TenantRoleId], [PermissionId]) VALUES (1, 1, 1)
INSERT [meta].[RolePermission] ([Id], [TenantRoleId], [PermissionId]) VALUES (2, 1, 2)
INSERT [meta].[RolePermission] ([Id], [TenantRoleId], [PermissionId]) VALUES (3, 1, 3)
GO
SET IDENTITY_INSERT [meta].[RolePermission] OFF
GO
SET IDENTITY_INSERT [meta].[Tenant] ON 

INSERT [meta].[Tenant] ([Id], [PublicId], [Name], [Slug], [PlanCode], [Status], [IsDeleted], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [DeletedOn], [DeletedBy], [DatabaseName], [ServerRef], [ConnectionSecretRef], [ProvisioningState], [SchemaVersion]) VALUES (1, N'db729946-8dbf-40ac-a4be-96204cf7627e', N'Acme Corp', N'acme-corp', N'Free', N'Active', 0, CAST(N'2026-05-18T08:55:12.7650000' AS DateTime2), 0, NULL, NULL, NULL, NULL, N'Powerbase', NULL, NULL, N'Ready', 0)
INSERT [meta].[Tenant] ([Id], [PublicId], [Name], [Slug], [PlanCode], [Status], [IsDeleted], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [DeletedOn], [DeletedBy], [DatabaseName], [ServerRef], [ConnectionSecretRef], [ProvisioningState], [SchemaVersion]) VALUES (2, N'd45ff549-99fe-4c1e-990d-c1ee4fd1fea3', N'Parth''s Tech', N'parth-s-tech', N'Free', N'Active', 0, CAST(N'2026-05-20T11:15:36.3980000' AS DateTime2), 0, NULL, NULL, NULL, NULL, N'Powerbase', NULL, NULL, N'Ready', 0)
INSERT [meta].[Tenant] ([Id], [PublicId], [Name], [Slug], [PlanCode], [Status], [IsDeleted], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [DeletedOn], [DeletedBy], [DatabaseName], [ServerRef], [ConnectionSecretRef], [ProvisioningState], [SchemaVersion]) VALUES (3, N'5b361b3b-beb0-44c8-a9a7-670933bc72dd', N'Tenant Wise DB', N'tenant-wise-db', N'Free', N'Inactive', 0, CAST(N'2026-06-02T10:50:40.0760000' AS DateTime2), 0, CAST(N'2026-06-02T13:36:36.6660000' AS DateTime2), NULL, NULL, NULL, N'Powerbase_3', NULL, NULL, N'Ready', 1)
SET IDENTITY_INSERT [meta].[Tenant] OFF
GO
SET IDENTITY_INSERT [meta].[TenantRole] ON 

INSERT [meta].[TenantRole] ([Id], [PublicId], [TenantId], [Name], [Description], [IsDefault], [IsSystem], [IsDeleted], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [DeletedOn], [DeletedBy]) VALUES (1, N'8dd57647-9752-f111-ae77-38689390cafd', 1, N'Administrator', NULL, 1, 1, 0, CAST(N'2026-05-18T08:55:12.7710000' AS DateTime2), 0, NULL, NULL, NULL, NULL)
INSERT [meta].[TenantRole] ([Id], [PublicId], [TenantId], [Name], [Description], [IsDefault], [IsSystem], [IsDeleted], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [DeletedOn], [DeletedBy]) VALUES (2, N'8ed57647-9752-f111-ae77-38689390cafd', 1, N'User', NULL, 0, 0, 0, CAST(N'2026-05-18T08:55:12.7720000' AS DateTime2), 0, NULL, NULL, NULL, NULL)
INSERT [meta].[TenantRole] ([Id], [PublicId], [TenantId], [Name], [Description], [IsDefault], [IsSystem], [IsDeleted], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [DeletedOn], [DeletedBy]) VALUES (3, N'37fb5633-3d54-f111-ae78-38689390cafd', 2, N'Administrator', NULL, 1, 1, 0, CAST(N'2026-05-20T11:15:36.4030000' AS DateTime2), 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [meta].[TenantRole] OFF
GO
SET IDENTITY_INSERT [meta].[TenantUser] ON 

INSERT [meta].[TenantUser] ([Id], [TenantId], [UserId], [TenantRoleId], [IsOwner], [IsActive], [IsDeleted], [JoinedOn], [InvitedBy], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [DeletedOn], [DeletedBy]) VALUES (1, 1, 1, 1, 1, 1, 0, CAST(N'2026-05-18T08:55:12.8220000' AS DateTime2), NULL, CAST(N'2026-05-18T08:55:12.8220000' AS DateTime2), 0, NULL, NULL, NULL, NULL)
INSERT [meta].[TenantUser] ([Id], [TenantId], [UserId], [TenantRoleId], [IsOwner], [IsActive], [IsDeleted], [JoinedOn], [InvitedBy], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [DeletedOn], [DeletedBy]) VALUES (2, 2, 2, 3, 1, 1, 0, CAST(N'2026-05-20T11:15:36.4590000' AS DateTime2), NULL, CAST(N'2026-05-20T11:15:36.4590000' AS DateTime2), 0, NULL, NULL, NULL, NULL)
INSERT [meta].[TenantUser] ([Id], [TenantId], [UserId], [TenantRoleId], [IsOwner], [IsActive], [IsDeleted], [JoinedOn], [InvitedBy], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [DeletedOn], [DeletedBy]) VALUES (3, 2, 3, 3, 0, 1, 0, CAST(N'2026-05-20T13:01:21.3610000' AS DateTime2), 2, CAST(N'2026-05-20T13:01:21.3610000' AS DateTime2), 0, CAST(N'2026-05-21T05:38:31.5410000' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [meta].[TenantUser] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_InviteToken_TokenHash]    Script Date: 13-07-2026 5.55.08 PM ******/
ALTER TABLE [audit].[InviteToken] ADD  CONSTRAINT [UX_InviteToken_TokenHash] UNIQUE NONCLUSTERED 
(
	[TokenHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_FieldType_Code]    Script Date: 13-07-2026 5.55.08 PM ******/
ALTER TABLE [core].[FieldType] ADD  CONSTRAINT [UX_FieldType_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_SystemConfig_Key]    Script Date: 13-07-2026 5.55.08 PM ******/
ALTER TABLE [core].[SystemConfig] ADD  CONSTRAINT [UX_SystemConfig_Key] UNIQUE NONCLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_SystemRole_Code]    Script Date: 13-07-2026 5.55.08 PM ******/
ALTER TABLE [core].[SystemRole] ADD  CONSTRAINT [UX_SystemRole_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_User_Email]    Script Date: 13-07-2026 5.55.08 PM ******/
ALTER TABLE [core].[User] ADD  CONSTRAINT [UX_User_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_User_PublicId]    Script Date: 13-07-2026 5.55.08 PM ******/
ALTER TABLE [core].[User] ADD  CONSTRAINT [UX_User_PublicId] UNIQUE NONCLUSTERED 
(
	[PublicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Permission_Code]    Script Date: 13-07-2026 5.55.08 PM ******/
ALTER TABLE [meta].[Permission] ADD  CONSTRAINT [UX_Permission_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_RolePermission]    Script Date: 13-07-2026 5.55.08 PM ******/
ALTER TABLE [meta].[RolePermission] ADD  CONSTRAINT [UX_RolePermission] UNIQUE NONCLUSTERED 
(
	[TenantRoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Tenant_PublicId]    Script Date: 13-07-2026 5.55.08 PM ******/
ALTER TABLE [meta].[Tenant] ADD  CONSTRAINT [UX_Tenant_PublicId] UNIQUE NONCLUSTERED 
(
	[PublicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Tenant_Slug]    Script Date: 13-07-2026 5.55.08 PM ******/
ALTER TABLE [meta].[Tenant] ADD  CONSTRAINT [UX_Tenant_Slug] UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_TenantRole_PublicId]    Script Date: 13-07-2026 5.55.08 PM ******/
ALTER TABLE [meta].[TenantRole] ADD  CONSTRAINT [UX_TenantRole_PublicId] UNIQUE NONCLUSTERED 
(
	[PublicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_TenantUser_TenantUser]    Script Date: 13-07-2026 5.55.08 PM ******/
ALTER TABLE [meta].[TenantUser] ADD  CONSTRAINT [UX_TenantUser_TenantUser] UNIQUE NONCLUSTERED 
(
	[TenantId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [audit].[InviteToken] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedOn]
GO
ALTER TABLE [audit].[LoginAttempt] ADD  DEFAULT ((0)) FOR [WasSuccessful]
GO
ALTER TABLE [audit].[LoginAttempt] ADD  DEFAULT (sysutcdatetime()) FOR [AttemptedOn]
GO
ALTER TABLE [audit].[PasswordReset] ADD  DEFAULT (sysutcdatetime()) FOR [RequestedOn]
GO
ALTER TABLE [audit].[UserSession] ADD  CONSTRAINT [df_UserSession_IssuedOn]  DEFAULT (sysutcdatetime()) FOR [IssuedOn]
GO
ALTER TABLE [core].[FieldType] ADD  DEFAULT ((1)) FOR [SupportsDefault]
GO
ALTER TABLE [core].[FieldType] ADD  DEFAULT ((1)) FOR [SupportsRequired]
GO
ALTER TABLE [core].[FieldType] ADD  DEFAULT ((1)) FOR [SupportsUnique]
GO
ALTER TABLE [core].[FieldType] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [core].[FieldType] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [core].[SystemConfig] ADD  DEFAULT ((0)) FOR [IsSecret]
GO
ALTER TABLE [core].[SystemConfig] ADD  DEFAULT (sysutcdatetime()) FOR [ModifiedOn]
GO
ALTER TABLE [core].[User] ADD  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [core].[User] ADD  DEFAULT ((0)) FOR [IsEmailVerified]
GO
ALTER TABLE [core].[User] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [core].[User] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [core].[User] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedOn]
GO
ALTER TABLE [core].[User] ADD  DEFAULT ((0)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[_migrations] ADD  CONSTRAINT [DF__migrations_AppliedOn]  DEFAULT (sysutcdatetime()) FOR [AppliedOn]
GO
ALTER TABLE [meta].[Tenant] ADD  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [meta].[Tenant] ADD  DEFAULT ('Free') FOR [PlanCode]
GO
ALTER TABLE [meta].[Tenant] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [meta].[Tenant] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [meta].[Tenant] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedOn]
GO
ALTER TABLE [meta].[Tenant] ADD  DEFAULT ((0)) FOR [CreatedBy]
GO
ALTER TABLE [meta].[Tenant] ADD  CONSTRAINT [DF_Tenant_ProvisioningState]  DEFAULT ('Ready') FOR [ProvisioningState]
GO
ALTER TABLE [meta].[TenantRole] ADD  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [meta].[TenantRole] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [meta].[TenantRole] ADD  DEFAULT ((0)) FOR [IsSystem]
GO
ALTER TABLE [meta].[TenantRole] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [meta].[TenantRole] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedOn]
GO
ALTER TABLE [meta].[TenantRole] ADD  DEFAULT ((0)) FOR [CreatedBy]
GO
ALTER TABLE [meta].[TenantUser] ADD  DEFAULT ((0)) FOR [IsOwner]
GO
ALTER TABLE [meta].[TenantUser] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [meta].[TenantUser] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [meta].[TenantUser] ADD  DEFAULT (sysutcdatetime()) FOR [JoinedOn]
GO
ALTER TABLE [meta].[TenantUser] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedOn]
GO
ALTER TABLE [meta].[TenantUser] ADD  DEFAULT ((0)) FOR [CreatedBy]
GO
ALTER TABLE [audit].[InviteToken]  WITH CHECK ADD  CONSTRAINT [FK_InviteToken_Tenant] FOREIGN KEY([TenantId])
REFERENCES [meta].[Tenant] ([Id])
GO
ALTER TABLE [audit].[InviteToken] CHECK CONSTRAINT [FK_InviteToken_Tenant]
GO
ALTER TABLE [audit].[InviteToken]  WITH CHECK ADD  CONSTRAINT [FK_InviteToken_TenantRole] FOREIGN KEY([TenantRoleId])
REFERENCES [meta].[TenantRole] ([Id])
GO
ALTER TABLE [audit].[InviteToken] CHECK CONSTRAINT [FK_InviteToken_TenantRole]
GO
ALTER TABLE [audit].[InviteToken]  WITH CHECK ADD  CONSTRAINT [FK_InviteToken_User] FOREIGN KEY([UserId])
REFERENCES [core].[User] ([Id])
GO
ALTER TABLE [audit].[InviteToken] CHECK CONSTRAINT [FK_InviteToken_User]
GO
ALTER TABLE [audit].[PasswordReset]  WITH CHECK ADD  CONSTRAINT [FK_PasswordReset_User] FOREIGN KEY([UserId])
REFERENCES [core].[User] ([Id])
GO
ALTER TABLE [audit].[PasswordReset] CHECK CONSTRAINT [FK_PasswordReset_User]
GO
ALTER TABLE [core].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_SystemRole] FOREIGN KEY([SystemRoleId])
REFERENCES [core].[SystemRole] ([Id])
GO
ALTER TABLE [core].[User] CHECK CONSTRAINT [FK_User_SystemRole]
GO
ALTER TABLE [meta].[RolePermission]  WITH CHECK ADD  CONSTRAINT [FK_RolePermission_Permission] FOREIGN KEY([PermissionId])
REFERENCES [meta].[Permission] ([Id])
GO
ALTER TABLE [meta].[RolePermission] CHECK CONSTRAINT [FK_RolePermission_Permission]
GO
ALTER TABLE [meta].[RolePermission]  WITH CHECK ADD  CONSTRAINT [FK_RolePermission_TenantRole] FOREIGN KEY([TenantRoleId])
REFERENCES [meta].[TenantRole] ([Id])
GO
ALTER TABLE [meta].[RolePermission] CHECK CONSTRAINT [FK_RolePermission_TenantRole]
GO
ALTER TABLE [meta].[TenantRole]  WITH CHECK ADD  CONSTRAINT [FK_TenantRole_Tenant] FOREIGN KEY([TenantId])
REFERENCES [meta].[Tenant] ([Id])
GO
ALTER TABLE [meta].[TenantRole] CHECK CONSTRAINT [FK_TenantRole_Tenant]
GO
ALTER TABLE [meta].[TenantUser]  WITH CHECK ADD  CONSTRAINT [FK_TenantUser_Tenant] FOREIGN KEY([TenantId])
REFERENCES [meta].[Tenant] ([Id])
GO
ALTER TABLE [meta].[TenantUser] CHECK CONSTRAINT [FK_TenantUser_Tenant]
GO
ALTER TABLE [meta].[TenantUser]  WITH CHECK ADD  CONSTRAINT [FK_TenantUser_TenantRole] FOREIGN KEY([TenantRoleId])
REFERENCES [meta].[TenantRole] ([Id])
GO
ALTER TABLE [meta].[TenantUser] CHECK CONSTRAINT [FK_TenantUser_TenantRole]
GO
ALTER TABLE [meta].[TenantUser]  WITH CHECK ADD  CONSTRAINT [FK_TenantUser_User] FOREIGN KEY([UserId])
REFERENCES [core].[User] ([Id])
GO
ALTER TABLE [meta].[TenantUser] CHECK CONSTRAINT [FK_TenantUser_User]
GO
USE [master]
GO
